/* Table of content
/*
/* - Variables
/* - Fonts Import
/* - Generic Styles
/* - Episodes Styles 
/* - Modal Styles
/*
/*----------------------------*/
/* Set Vars
------------------------------*/
/* Fonts Import
------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Bree Serif';
  src: url("../fonts/BreeSerif-Regular.eot");
  src: url("../fonts/BreeSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BreeSerif-Regular.woff") format("woff"), url("../fonts/BreeSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Generic Styles
------------------------------*/
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #1ABC9C;
  color: #FFF;
  font-size: 105%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .025rem;
  line-height: 1.618;
  padding: 1rem 0; }

#app {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.topbar {
  overflow: hidden; }

img.align-left {
  float: left;
  margin: 10px 20px 0 0;
  border: 4px solid #FFF;
  border-radius: 2%; }

.title-wrap h1 {
  margin: 0; }

.title-wrap h1 a {
  color: #FFF; }

.title-wrap h2 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0; }

.title-wrap p {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* Episodes Styles
------------------------------*/
.episodes-wrapper {
  margin: 20px auto;
  display: block;
  clear: both;
  position: relative;
  width: 90%; }

a.audio-track {
  width: 100%;
  background: #1ABC9C;
  border-bottom: 1px dashed #FFF;
  box-shadow: none;
  margin: 0 auto;
  padding: 10px 10px;
  display: block;
  cursor: pointer;
  line-height: 1.2; }

a.audio-track h5 {
  margin: 0;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%; }

a.audio-track h5 span {
  border: 3px solid #FFF;
  border-radius: 50%;
  width: 20px;
  height: 24px;
  padding-left: 4px;
  display: inline-block;
  text-align: center;
  line-height: 1.1;
  margin-right: 16px; }

a.audio-track .duration {
  display: inline-block;
  float: right;
  margin-right: 20px;
  font-weight: 700;
  line-height: 1.8; }

/* Modal Styles
------------------------------*/
.tingle-modal-box {
  width: 80%; }

.tingle-modal-box__content {
  background-color: #1ABC9C; }

.tingle-modal-box__content audio {
  width: 100%;
  background: #1ABC9C;
  margin-top: 20px; }

.tingle-modal-box__content h2 {
  margin-bottom: 0; }

.tingle-modal-box__content img {
  float: right;
  border: 4px solid #FFF;
  border-radius: 3px; }

.tingle-modal-box__content div.pub-download a {
  font-weight: 700;
  font-family: "Bree Serif", serif;
  border: 3px solid #FFF;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 10px;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase; }

.tingle-modal-box__content div.pub-download a:hover {
  background: #FFF;
  color: #1ABC9C; }

/* Media Queries
------------------------------*/
@media (max-width: 1224px) {
  .tingle-modal-box__content h2 {
    font-size: 22px; } }

@media (max-width: 800px) {
  img.align-left,
  .tingle-modal-box__content img {
    margin: 0;
    float: none;
    border-radius: 50%; }
  .tingle-modal {
    width: 100%; }
  .tingle-modal-box {
    width: auto;
    border-radius: 0; }
  .topbar {
    text-align: center; }
  .title-wrap {
    padding: 0 40px; }
  .title-wrap p {
    display: none; } }
